.header {

  position: relative;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: start;

  margin-bottom: 58px;
  height: 87px;
  border-bottom: 4px solid #E4E4E4;
}

.logo {

  font-size: 22px;
  font-weight: 600;
  letter-spacing: 4px;
}

.cart {

  height: 54px;
  width: 54px;
  border: none;

  background-color: transparent;
}

.cart__icon {

  height: 100%;
  width: auto;
}

.cart__extend {

  position: absolute;
  bottom: 0;
  right: 0;

  border: 4px solid #E4E4E4;
}